.form {
    padding: 20px;
    background-color: #838080;
    border-radius: 15px;
    margin: 20px;
}

.form__legend{
    border-radius: 10px;
    background-color: #76bbcc6b;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.form__field {
    flex-basis: 500px;
    width: 100%;
    border: 2px solid #383535;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.form__labelText {
    max-width: 700px;
    width: 20%;
    display: inline-block;
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 20px;
    
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border: none;
}