html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body{
  font-family: 'Helvetica', sans-serif;
  background-image: url(./kasa.jpg);
  background-repeat: no-repeat;
  background-size: 2500px auto;
}